@{
    ViewBag.Title = "Correios Rastreamento";
}

<div class="row">
	<div class="col-lg-9">
		<h1>Rastreamento do Correios para OSX</h1>
	</div>

	<div class="col-lg-3 d-lg-flex justify-content-lg-end">
		<a href="https://geo.itunes.apple.com/br/app/correios-rastreamento/id1234010091?mt=12" style="align-self: center; display: block;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/pt-br/macappstore-lrg.svg) no-repeat;width:165px;height:40px;background-size:contain;"></a>
	</div>
</div>

<br />

<h5>Acompanhe facilmente o envio de suas remessas do <b>Correios</b> com este aplicativo.</h5>

<ul>
	<li>monitore automaticamente as movimentações do objeto</li>
	<li>receba alertas sempre que o objeto se movimentar</li>
</ul>

<br />
<p>1. Abra o aplicativo clicando no ícone:</p>
<img src="~/Content/img/correiosSRO4.png" />

<br />
<br />
<p>2. Clique no botão de + para adicionar uma remessa:</p>
<img src="~/Content/img/correiosSRO0.png" />

<br />
<br />
<p>3. Informe um nome e o código de rastreamento de 13 digitos:</p>
<img src="~/Content/img/correiosSRO1.png" />

<br />
<br />
<p>4. Pronto! Agora suas remessas estão listadas e sendo monitoradas:</p>
<img src="~/Content/img/correiosSRO2.png" />

<hr />
<p>Ahh, e sempre que houver uma movimentação de alguma remessa, você será notificado:</p>
<img src="~/Content/img/correiosSRO5.png" />
