
.icon-chat:before { content: '\21'; } /* '!' */
.icon-comment:before { content: '\22'; } /* '&quot;' */
.icon-commenting:before { content: '\23'; } /* '#' */
.icon-comment-1:before { content: '\24'; } /* '$' */
.icon-comment-2:before { content: '\25'; } /* '%' */
.icon-comment-empty:before { content: '\26'; } /* '&amp;' */
.icon-play-outline:before { content: '\27'; } /* ''' */
.icon-help-circled:before { content: '\e800'; } /* '' */
.icon-tag:before { content: '\e801'; } /* '' */
.icon-tags:before { content: '\e802'; } /* '' */
.icon-down-open:before { content: '\e803'; } /* '' */
.icon-left-open:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-left-big:before { content: '\e806'; } /* '' */
.icon-right-big:before { content: '\e807'; } /* '' */
.icon-left-outline:before { content: '\e808'; } /* '' */
.icon-right-outline:before { content: '\e809'; } /* '' */
.icon-github-circled:before { content: '\e80a'; } /* '' */
.icon-github-circled-alt2:before { content: '\e80b'; } /* '' */
.icon-github:before { content: '\e80c'; } /* '' */
.icon-github-1:before { content: '\e80d'; } /* '' */
.icon-github-circled-1:before { content: '\e80e'; } /* '' */
.icon-comment-3:before { content: '\e80f'; } /* '' */
.icon-download:before { content: '\e810'; } /* '' */
.icon-wifi:before { content: '\e811'; } /* '' */
.icon-download-2:before { content: '\e812'; } /* '' */
.icon-download-alt:before { content: '\e813'; } /* '' */
.icon-wifi-off:before { content: '\e814'; } /* '' */
.icon-chart-bar:before { content: '\e815'; } /* '' */
.icon-search-3:before { content: '\e816'; } /* '' */
.icon-temperatire:before { content: '\e817'; } /* '' */
.icon-flash:before { content: '\e818'; } /* '' */
.icon-gauge:before { content: '\e819'; } /* '' */
.icon-level-up:before { content: '\e81a'; } /* '' */
.icon-left:before { content: '\e81b'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-thermometer:before { content: '\f2c7'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */