<!-- OmniView:off -->
<div class="content-text">
	<b>OmniCode</b>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Key</th>
				<th>Command</th>
				<th>Description</th>
			</tr>
		</thead>

		<tr>
			<td><b>CTRL + E + R</b></td>
			<td>View in Omni</td>
			<td>From a .html document, opens it inside Omni (if it is installed)</td>
		</tr>

		<tr>
			<td><b>CTRL + E + A</b></td>
			<td>Search text in Sciter samples</td>
			<td>Opens a tool with Sciter samples, and search for samples containing the selected text</td>
		</tr>

        <tr>
			<td><b>CTRL + E + H</b></td>
			<td>Sciter Docs</td>
			<td>Opens a tool window that shows Sciter SDK documentation</td>
		</tr>

		<tr>
			<td><b>CTRL + E + G</b></td>
			<td>Google+GitHub Selection</td>
			<td>Opens browser to search selected text in Google &amp; GitHub</td>
		</tr>
	</table>

	<b>OmniView</b>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Key</th>
				<th>Command</th>
				<th>Description</th>
			</tr>
		</thead>

		<tr>
			<td><b>CTRL + E + V</b></td>
			<td>Toggle OmniView</td>
			<td>Shows/hides OmniView margin (writes the header in the document)</td>
		</tr>

		<tr>
			<td><b>CTRL + E + B</b></td>
			<td>Shows/hides OmniView console area (writes the header in the document)</td>
			<td></td>
		</tr>
	</table>
</div>