@{
	ViewBag.FullLayout = true;
	ViewBag.Title = "Portfolio";
}
@section head {
	<link href="~/Content/page_portfolio.min.css" rel="stylesheet" />
}
@section scripts {
}

<div class="text">
	<h1>Ramon F. Mendes</h1>
	<h2>Full-stack web developer + eventually Web designer</h2>

	<h3>Things I can do:</h3>
	<ul>
		<li>Responsive/mobile friendly sites</li>
		<li>REST APIs integration</li>
		<li>Databased backed sites</li>
		<li>Creating beatifull charts from datasets</li>
		<li>Add a chat system like from Facebook</li>
	</ul>

	<h3>Technologies and tools I normally use:</h3>
	<ul>
		<li>C#/.Net all the way</li>
		<li>Visual Studio</li>
		<li>Azure</li>
		<li>GIT</li>
		<li>Bootstrap CSS framework</li>
		<li>SASS</li>
		<li>JQuery</li>
		<li>Photoshop</li>
		<li>Skecth</li>
		<li>I have a MacBook and a PC</li>
	</ul>

	<h3>Sites I designed and built from scratch:</h3>
</div>

<div id="sites">
	<a href="http://designarsenal.co/" style="background-image: url('../../Content/img/portfolio/portfolio1.png');"></a>
	<a href="http://popup3dmvc.azurewebsites.net/" style="background-image: url('../../Content/img/portfolio/portfolio2.png');"></a>
	<a href="http://rastreadorcygnus.com.br/" style="background-image: url('../../Content/img/portfolio/portfolio3.png');"></a>
	<a href="http://atcommander.co/" style="background-image: url('../../Content/img/portfolio/portfolio4.png');"></a>
	<a href="http://advocacia.rs/" style="background-image: url('../../Content/img/portfolio/portfolio5.png');"></a>
</div>

<div class="text">
	<h3>Let's work together!</h3>
	<a href="mailto:ramon@misoftware.com.br" class="button button--wayra button--border-thick button--text-upper button--size-s">So get in touch!</a>
</div>