<div class="content-text">
	<h1>MI Software</h1>
	<p>
		<b>MI Software</b> in an one-man software house with offices in Caxias do Sul, Brazil. MI comes from the word ‘MIssion’, which is to succeed in making value by creating innovative products.
	</p>

	<p>
		We are specialized in design of desktop and low-level software systems, mainly with <b>Sciter</b> technology for making modern HTML/CSS user interfaces.
	</p>

	<p>
		We also offer consulting and design services in these areas. Check the <a href="~/Home/Services">services</a> section to know about the technologies we have expertise. If you have an idea just drop us an <a href="mailto:ramon@misoftware.com.br">e-mail</a>, we will do the rest in the most effective way and with the best quality.
	</p>

	<p>
		Founder of MI Software is Ramon F. Mendes. Ramon has a bachelor in Information Systems at University of Caxias do Sul. He started his career in the creative area, working with web design, and then evolved to work with a more hardcore area of control systems engineering while making C#/.NET systems to automate every kind of process. This was when he discovered his passion for the low-level world, working with C, C++ and D development.
	</p>

	<br />

	<div style="text-align: center; background: #e8e9b0">
		<img src="~/Content/img/l-3079.jpg" style="max-width: 100%" />
	</div>
</div>