<div class="content-text">
	<h1>Services</h1>
	<p>We offer custom design service for the following specific tasks:</p>
	<ul>
		<li>development of custom grammars, parsers and language analysers for DSLs using ANTLR with targets for JAVA, C#, Python or ECMAScript</li>
		<li>development of custom Visual Studio extensions</li>
		<li>design and development of C# ASP.NET MVC web systems</li>
		<li>integration with Oracle and SQL Server databases</li>
		<li>cross-platform desktop apps made with Sciter, HTML/CSS, C#, C++ or D language</li>
		<li>
			Platform specific desktop development using, among other technologies:
			<ul>
				<li>Windows: Win32, WPF, Windows Forms, Services, UWP, CEF/Chromium</li>
				<li>OSX: Cocoa, Mono, Swift</li>
				<li>Linux: GTK+, Mono</li>
			</ul>
		</li>
		<li>custom solutions for interoping .NET with C/C++ (PInvoke, C++/CLI)</li>
	</ul>
	<p>If you have an idea just drop us an <a href="mailto:ramon@misoftware.com.br">e-mail</a>, we will do the rest in the most effective way and with the best quality. </p>

	<br />
	<br />
	<img src="~/Content/img/services_logo.png" style="max-width: 100%;" />
</div>