@media (min-width: 992px) {
  .container {
    width: 1236px; } }

.body-border {
  color: black; }

.band-main {
  background: #1A2F5F;
  padding: 135px 0 70px 0; }
  .band-main img {
    display: block;
    margin-top: -10px;
    margin-left: 120px; }
  @media (max-width: 991px) {
    .band-main img {
      margin: 0 auto;
      margin-bottom: 90px;
      max-width: 100%;
      padding: 0 30px; } }
  .band-main .area-text {
    text-align: center; }
    @media (min-width: 992px) {
      .band-main .area-text {
        margin-left: -80px; } }
    .band-main .area-text * {
      display: block;
      margin: 0 auto; }
    .band-main .area-text h1 {
      color: white;
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 24px;
      margin-top: -15px;
      padding: 0 20px; }
    .band-main .area-text h2 {
      font-size: 18px;
      font-weight: 300;
      max-width: 560px;
      padding: 0 20px; }
    .band-main .area-text h2, .band-main .area-text small {
      color: rgba(255, 255, 255, 0.6); }
    .band-main .area-text .btn-download {
      height: 76px;
      max-width: 372px;
      margin-top: 50px;
      margin-bottom: 12px;
      padding-top: 15px;
      background: #5e5eae;
      color: white;
      font-size: 20px;
      font-weight: 600; }
      .band-main .area-text .btn-download small {
        font-size: 12px; }
    .band-main .area-text .btn-aux {
      margin-top: 10px;
      border-radius: 10px;
      padding: 4px 8px;
      background: rgba(0, 0, 0, 0.3);
      display: inline-block;
      font-size: 12px;
      font-weight: 200;
      color: rgba(255, 255, 255, 0.6); }

.band-link {
  min-height: 86px;
  padding-top: 6px;
  padding-left: 96px;
  background: #bfc4c9; }
  .band-link img {
    display: inline-block;
    margin-right: 16px; }
  .band-link a {
    color: white;
    font-size: 20px;
    font-family: 'Days One', sans-serif; }
    .band-link a:hover {
      text-decoration: none; }

.showstack {
  max-width: 990px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 140px;
  padding: 0 20px; }
  .showstack .imgstack {
    padding-bottom: 60%;
    position: relative; }
    .showstack .imgstack div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      .showstack .imgstack div.top {
        width: 85%;
        z-index: 3; }
      .showstack .imgstack div.left {
        left: 0;
        z-index: 2;
        width: 75%;
        filter: blur(2px);
        -webkit-filter: blur(2px);
        transform: translate(0px, -50%); }
      .showstack .imgstack div.right {
        right: 0;
        left: auto;
        z-index: 1;
        width: 75%;
        filter: blur(2px);
        -webkit-filter: blur(2px);
        transform: translate(0px, -50%); }
      .showstack .imgstack div img {
        max-width: 100%; }
  .showstack nav a {
    position: absolute;
    z-index: 4;
    font-size: 60px;
    transform: translate(0px, -50%);
    opacity: 0.5;
    outline: none; }
  .showstack nav a:hover {
    opacity: 1; }
  .showstack nav .nav-left {
    left: -70px;
    top: 50%; }
  .showstack nav .nav-right {
    right: -70px;
    top: 50%; }
  .showstack section.legends {
    max-width: 784px;
    margin: 0 auto;
    position: relative; }
    .showstack section.legends div {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 300ms; }
      .showstack section.legends div.current {
        opacity: 1; }
      .showstack section.legends div h4 {
        font-family: 'Days One', sans-serif;
        font-size: 22px;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 5px; }
      .showstack section.legends div small {
        font-size: 15px; }

.band-screens {
  padding: 40px 70px 20px 70px;
  background: #4c6574;
  font-size: 17px;
  color: #d1d1d1; }
  .band-screens img {
    max-width: 100%; }
  .band-screens h3 {
    font-size: 22px;
    font-weight: 600;
    color: #a9eeea; }
  .band-screens .row {
    margin-bottom: 30px; }

.band-purchase {
  overflow: hidden;
  border: solid 1px #2d4a8c;
  margin: 73px 144px;
  padding: 4px 8px;
  padding-right: 5px; }
  @media (max-width: 991px) {
    .band-purchase {
      margin: 73px 40px; } }
  @media (min-width: 992px) {
    .band-purchase h2 {
      white-space: nowrap; } }
  .band-purchase h2 {
    font-size: 31px;
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600; }
  .band-purchase h2 span {
    color: #a8ae5e; }
  .band-purchase h1 {
    font-size: 44px;
    margin: 0;
    margin-bottom: 34px;
    font-weight: 600;
    line-height: 36px; }
  .band-purchase p {
    font-size: 21px;
    font-weight: 600;
    margin: 0;
    line-height: 27px; }
  .band-purchase .area-form {
    margin-top: 45px;
    padding-right: 3px; }
  .band-purchase .area-form > a {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 300; }
  .band-purchase .area-form p {
    font-size: 19px;
    color: #787878; }
  .band-purchase .area-form .form-group {
    margin-top: 9px;
    margin-bottom: 0;
    text-align: right; }
  .band-purchase .area-form input {
    display: inline-block;
    width: 400px;
    max-width: initial; }
  .band-purchase .area-form button {
    padding: 6px 50px;
    margin-bottom: 23px; }

