@media (min-width: 992px) {
  .container {
    width: 1236px; } }

.body-border {
  padding: 0 30px;
  min-height: 400px; }

.title {
  margin-top: 18px;
  min-height: 54px;
  font-family: 'Days One', sans-serif;
  font-size: 33px;
  color: #b2b2c5; }
  .title a {
    color: inherit; }

