@{
    ViewBag.Title = "Debug";
}

@section head {
	<link href="~/Content/bundles/json-viewer/jquery.json-viewer.css" rel="stylesheet" />
}
@section scripts {
	<script src="~/Content/bundles/json-viewer/jquery.json-viewer.js"></script>
	<script>
		$('#json-container').jsonViewer(@Html.Raw(ViewBag._JSON_));

		/*var scheme = document.location.protocol == "https:" ? "wss" : "ws";
		var port = document.location.port ? (":" + document.location.port) : "";
		var connectionUrl = scheme + "://" + document.location.hostname + port + "/IOTEnergia/WS";
		console.log(connectionUrl);

		var socket = new WebSocket(connectionUrl);
		socket.onopen = function(event) {
			setInterval(function() {
				socket.send("3.2|4.1|3");
			}, 1000);
		};
		socket.onmessage = function (event) {
			console.log("Receive:", event.data);
		};
		socket.onclose = function (event) {
			console.log("onclose!!!!");
		}*/
	</script>
}

<h2>Tabela AmpSamples<a href="/IOTEnergia/Clear" class="btn btn-sm btn-outline-primary float-right">Limpar registros</a></h2>

-<a href="/IOTEnergia">Index</a><br />

<div id="json-container"></div>